.level_editor_container {
    float: right;
    font-family: "Jura", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    position: absolute;
    right: 10px;
    &__image_build {
        width: 50px;
        cursor: pointer;
    }
}
.level_editor {
    &__interface::before {
        background-image: url("../../src/images/round.png");
    }
    &__interface {
        padding: 15px 40px;
        background-color: #dab177;
        // border: 22px solid #1f508a;
        box-shadow: -16px -12px 0px #1f508a;
        width: 1340px;
        position: absolute;
        left: -225%;
        top: 10%;
        z-index: 120;
        text-align: center;
        height: 700px;
    }
}

.category_element {
    width: 90%;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;

    &__image {
        width: 50px;
    }
    &-chosen {
        width: 95%;
        border-bottom: 3px solid #1f508a;
    }
    // &__list {
    //     max-height: 200px;
    //     overflow: auto;
    //     width: 300px;
    //     border: 1px solid rgb(199, 199, 199);
    // }
}
.category {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-bottom: 5px;
    &__list {
        overflow: auto;
        width: 300px;
        padding-left: 5px;
        li {
            margin-bottom: 5px;
            transition: 0.6s;
        }
        li:hover {
            transform: scale(1.01);
            transition: 0.9s;
        }
    }
    &__title {
        font-size: 20px;
        cursor: pointer;
        color: rgb(31, 31, 31);
    }
}
.interface {
    &__btn {
        padding: 5px 10px;
        margin-top: 10px;
        color: white;
        min-width: 20px;
        min-height: 20px;
        background-color: #1f508a;
    }
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        input {
            margin-left: 10px;
        }
    }
    &__content {
        display: flex;
        flex-direction: row;
    }
    &__list_thinks {
        box-sizing: border-box;
        width: 320px;
        margin-left: 10px;
        margin-right: 5px;
        border-radius: 1px;
        box-shadow: 0px 0px 5px white;
        list-style: none;
        max-height: 520px;
        padding: 5px;
        overflow: auto;
        color: black;
        background-color: white;
        box-shadow: -16px -12px 0px #1f508a;
    }
}
.area {
    width: 80%;
    max-width: 900px;
    height: 500px;
    overflow: auto;

    background-color: white;
    box-shadow: -16px -12px 0px #1f508a;
    border-radius: 2px;
    margin-left: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &-row {
        display: flex;
        flex-direction: row;
    }
    &-column {
        display: flex;
        flex-direction: column;
    }
}
.area_table {
    &__ceils {
        img {
            width: 50px;
            height: 50px;
            border: 1px solid black;
            box-shadow: 0px 0px 3px rgba(30, 39, 79, 0.522);
            border-radius: 5px;
            margin-top: -4px;
            cursor: pointer;
        }
        background-color: #3f5062;
        width: 50px;
        height: 50px;
        margin-top: -5px;
        cursor: pointer;
    }
    &__ceils-chosen {
        box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.816);
    }
    &__ceils:hover {
        box-shadow: 0px 0px 10px white;
    }
}
